*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s linear;
}
:root{
    --text-white:#ffffff;
    --text-black:#1A1D1F;
    --text-color:#301D1F;
    --p-color:#7F798B;
    --icon-color:#666666;
    --primary-color:#71b100;
    --secondary-color:#F7F7F7;
    --third-color:#;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
}

/* header section */
header{
    background-color: var(--text-black);
}
.nav_top_section .contact::after{
    content: '';
    position: absolute;
    left: 75%;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transform: skewX(-20deg);
}
.nav_top_section a{
    color: var(--text-white);
    font-weight: 300;
    font-size: 16px;
}
.nav_top_section .contact{
    z-index: 2;
}
.nav_top_section .items{
    border-bottom: 1px solid var(--p-color);
}
.navbar{
    padding: 0;
}
.nav_section .collapse .active{
    background: var(--primary-color);
}
.nav_section .collapse .navbar-nav a:hover{
    background: var(--primary-color);
}
.nav_section .collapse a{
    padding: 15px 25px !important;
}
/* benner section */
.carousel-indicators [data-bs-target] {
	width: 15px;
	height: 15px;
	background-color: var(--text-black);
    box-shadow:inset 0px 0px 0px 2px #fff;
}
